* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f1e8;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modalImg {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
